*{
    padding: 0;
    margin: 0;    
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

/* Menu */

.fas{
    color: black;
}

nav{
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 0.5em black;
    position: fixed;
    z-index: 999;
}

.logo{
    background-color: Transparent;
    border: none;
    padding-left: 40px;
}

#imgLogo{
    height: 80px;
}

nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    float:left;
    margin: 0 5px;
}

nav ul li button{
    background: #fff;
    font-size: 19px;
    border: none;
    height: 80px;
    padding: 7px 13px;  
    text-transform: uppercase;
}

.buttonMenu.active, .buttonMenu:hover{
    color: #0066FF;
    border-bottom: 3px solid #0066FF;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.imgBtnMenuTemaEscuroClaro{
    height: 100%;
    cursor: pointer;
}

#btnModoClaroEscuro:hover{
    border-bottom:none;
}

@media (max-width:952px){
    nav ul li button{
        font-size: 15px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 40%;
        background: #E5E5E5;
        top: 80px;
        left: 200%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        float:none;
        line-height: 30px;
    }
    nav ul li button{
        font-size: 15px;
        background: #E5E5E5;
    }
    .buttonMenu.active, .buttonMenu:hover{
        background: none;
        color: #0066FF;
    }
    #check:checked ~ ul{
        left: 60%;
    }
}

/* Pagina Index Slider */
#carrossel{
    float: left;
    width: 100%;
    margin-top:80px;
    height: 400px;
    display: flex;
    justify-content: center;
    
    background-color:var(--fundo);
  }
  .img-slider{
    position: relative;
    width: 100%;
    height: 400px;
    
    background:var(--fundo);
  }
  
  .navigation{
    display: none !important;
  }

  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    height: 400px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info p{
    color: var(--fundo);
    background: var(--fundo);
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: gray;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #0066FF;
    box-shadow: 0 0 2px black;
  }
  @media (max-width: 820px){
    .img-slider{
      width: 100%;
      height: 400px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
    }
    .img-slider .slide img{
      z-index: 1;
      width: 100%;
      border-radius: 5px;
      height: 45%;
    }
    
    .img-slider .navigation{
      bottom: 30px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  @media (max-width: 650px){
    .img-slider .navigation{
      bottom: 40%;
    }
  }
  @media (max-width: 620px){
    .img-slider{
      width: 100%;
      height: 400px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
    }
  
    .img-slider .navigation{
      bottom: 40%;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 100%;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
    }
  
    .img-slider .navigation{
      bottom: 55%;
    }
    
  }

  /* Pagina Index NW Amostras Introdução*/

  .nwAmostrasIntroducao{
    margin-top: 2%;
    width: 100%;
    float: left;
    text-align: center;
  }

  .tituloNwAmostras{
    font-size: 20px;
    font-weight: bold;
  }

  .decoracaoTitulos{
    width: 5%;
    margin-left: 47.5%;
    margin-top: 0.8%;
    height: 3px;
    border-radius: 3px;
    background-color: #0066FF;
  }

  .divTxtNwAmostras{
    width: 80%;
    margin: 2% 10% 0% 10%;
  }

  .txtNwAmostras{
    font-size: 18px;
    
  }

  /* Pagina Index Conhceça Nossas Funcionalidades*/

  .conhecaNossasFuncionalidades{
    margin-top: 2%;
    width: 100%;
    float: left;
    text-align: center;
  }

  .containerImagemTxts{
    width: 100%;
    margin-top: 2%;
  }

  .imgFuncionalidades{
    float: left;
    width: 50%;
    height: 500px;
  }

  .imgFuncionalidades img{
    width: 100%;
    height: 100%;
  }

  .txtFuncionalidades{
    width: 50%;
    height: 500px;
    float: left;
  }

  .divTitulosFuncionalidades{
    margin: 0% 0% 2% 0%;
  }

  .tituloFuncionalidadesIndex{
    color: #0066FF;
    font-size: 18px;
    font-weight: bold;
  }

  .txtFuncionalidadesIndex{
    font-size: 18px;
  }

  .containerTituloTxtFuncionalidades{
    width: 80%;
    margin: 0% 10% 0% 10%;
    transform: translatey(200%);
    float: left;
  }

  /* Pagina Index Artigo */

  .containerArtigoIndex{
    float: left;
    margin-top: 2%;
    width: 100%;
    text-align: center;
  }

  .containerPesquisaFiltro{
    margin: 2% 10% 0% 10%;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #4472C4;
  }

  .buttonPesquisarArtigo{
    height: 100%;
    width: 4%;
    float: left;
    margin-left: 1%;
    border: none;
    background-color:transparent;
  }

  .imgLupa{
    height: 100%
  }

  .inputBuscarArtigoIndex{
    float:left;
    background-color:transparent;
    font-size:18px;
    border:none;  
    height: 100%;
    width: 80%;
    margin-left: 1%;
  }

  .buttonFiltrarArtigo{
    height: 100%;
    width: 4%;
    float: right;
    margin-right: 1%;
    border: none;
    background-color:transparent;
  }

  .imgFiltro{
    height: 100%
  }