*{
    padding: 0;
    margin: 0;    
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* Menu */

.fas{
    color: black;
}

nav{
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 0.5em black;
    position: fixed;
}

.logo{
    background-color: Transparent;
    border: none;
    padding-left: 40px;
}

#imgLogo{
    height: 80px;
}

nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li button{
    background: #fff;
    font-size: 19px;
    border: none;
    height: 78px;
    padding: 7px 13px;  
    text-transform: uppercase;
}

.buttonMenu.active, .buttonMenu:hover{
    color: #0066FF;
    border-bottom: 3px solid #0066FF;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.imgBtnMenuTemaEscuroClaro{
    height: 100%;
}

@media (max-width:952px){
    nav ul li button{
        font-size: 15px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 40%;
        background: #E5E5E5;
        top: 80px;
        left: 200%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li button{
        font-size: 15px;
        background: #E5E5E5;
    }
    .buttonMenu.active, .buttonMenu:hover{
        background: none;
        color: #0066FF;
    }
    #check:checked ~ ul{
        left: 60%;
    }
}