*{
    padding: 0;
    margin: 0;    
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

/* Menu */

.fas{
    color: black;
}

nav{
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 0.5em black;
    position: fixed;
}

.logo{
    background-color: Transparent;
    border: none;
    padding-left: 40px;
}

#imgLogo{
    height: 80px;
}

nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    float:left;
    margin: 0 5px;
}

nav ul li button{
    background: #fff;
    font-size: 19px;
    border: none;
    height: 80px;
    padding: 7px 13px;  
    text-transform: uppercase;
}

.buttonMenu.active, .buttonMenu:hover{
    color: #0066FF;
    border-bottom: 3px solid #0066FF;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.imgBtnMenuTemaEscuroClaro{
    height: 100%;
}

#btnModoClaroEscuro:hover{
    border-bottom:none;
}

@media (max-width:952px){
    nav ul li button{
        font-size: 15px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 40%;
        background: #E5E5E5;
        top: 80px;
        left: 200%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        float:none;
        line-height: 30px;
    }
    nav ul li button{
        font-size: 15px;
        background: #E5E5E5;
    }
    .buttonMenu.active, .buttonMenu:hover{
        background: none;
        color: #0066FF;
    }
    #check:checked ~ ul{
        left: 60%;
    }
}

/*Carrosel*/ 
.slider{
    margin-top:80px;
    float:left;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    display:flex;
}

.slides{
    width: 500%;
    height: 500px;
    display:flex;
}
.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height:500px;
}

/*css navegação manual*/

.navigation-manual{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display:flex;
    justify-content:center;
}

.manual-btn{
    border:2px solid #40d3dc;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}
.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css navegação automatica*/

.navigation-auto{
    position:absolute; 
    display: flex;
    width:800px;
    justify-content: center;
    margin-top: 460px;
} 

.navigation-auto div{
    border: 2 px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}